
.Rproj.user/5FA7DC76/sources/per/t/A75AA9EC
.Rproj.user/5FA7DC76/sources/per/t/A75AA9EC-contents
.Rproj.user/5FA7DC76/sources/per/t/DE48D6C1
.Rproj.user/5FA7DC76/sources/per/t/DE48D6C1-contents
.Rproj.user/5FA7DC76/sources/per/t/FEE82AA0
.Rproj.user/5FA7DC76/sources/per/t/FEE82AA0-contents
.Rproj.user/5FA7DC76/sources/session-64daa6ff/30E47CAD-contents
.Rproj.user/5FA7DC76/sources/session-64daa6ff/A75AA9EC
.Rproj.user/5FA7DC76/sources/session-64daa6ff/A75AA9EC-contents
.Rproj.user/5FA7DC76/sources/session-64daa6ff/DE48D6C1
.Rproj.user/5FA7DC76/sources/session-64daa6ff/DE48D6C1-contents
.Rproj.user/5FA7DC76/sources/session-64daa6ff/FEE82AA0
.Rproj.user/5FA7DC76/sources/session-64daa6ff/FEE82AA0-contents
.Rproj.user/5FA7DC76/sources/session-64daa6ff/lock_file
